@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing: border-box;
}

html{
    color-scheme: dark light;
}

body{
    margin: 0;
    font-family: 'Rubik',sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-bar{
    display: flex;
    /* align-items: center; */
    padding: 2rem;
    justify-content: space-between;
    /* outline: 4px solid hotpink; */
    font-size: clamp(1rem,1.2rem,2rem);
    width: max(20vw,100%);
    margin-inline: auto ;
}

.center{
     display: flex;
    gap: 1rem; 
}












main{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    gap : 2rem;
}


.image-wrapper{
    flex-shrink: 0;
    flex-grow: 9999;
    padding: 1rem;
    width: min(350px,70%);
}

img{
    display: block;
    max-width: 100%;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 50%;
    flex-grow: 1;
    padding: 1rem;
}

.card{
   padding: 2rem;
   border-radius: 1rem;
   background-color: rgb(35, 35, 35);
}

.button{
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    gap: 1rem;
}

button{
    font-size: 1.2rem;
    border-radius: 1.2rem;
    padding: .8rem;
    border: none;
    background-color: blanchedalmond;
    color: black;
}

.statistics{
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.card2{
    padding: 3rem 1rem;
    border-radius: 1rem;
    background-color: rgb(35, 35, 35);
}