@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&display=swap');
:root {
    --border: rgb(3, 169, 244);
    
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --g3: rgb(253, 216, 53);
  }

  
body {
    background-color: rgb(10, 10, 10);
    display: grid;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    place-items: center;
  }

.card{
    cursor: pointer;
    position: relative;
    width: 56vmin;
    border: 0.5vmin solid var(--border);
    aspect-ratio: 1/1.6;
}
/* Putting the gradient in the before pseudo element
which will be of the same size as that of the card
*/
.card::before{
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    /* We will make a angled gradient,1/3 being transparent,remaining 2/3 split between our colors*/
    background: linear-gradient(130deg,transparent 0% 33%,var(--g1) 66%,var(--g2) 83.5%,var(--g3) 100%);
    background-position: 0% 0%; /*At moment,gradient is not visible,we will use hover efffect to make it visible*/
    background-size: 300% 300%;
    transition: background-position 0.3s;
    z-index: 1;
}

.card:hover::before{
    background-position: 100% 100%;  /*Making it visible as well*/
    transform: scale(1.08,1.03);
}

.card-content{
    height: 100%;
      /* Setting its size eqaul to the card */
    width: 100%;
    background: radial-gradient(rgba(255,255,255,0.2) 8%,transparent 8%);
    background-position: 0% 0%;  /*It will get repeated coz of this behavior*/
    background-size: 5vmin 5vmin;
    transition: background-position 350ms ease;
    z-index: 2;
    position: relative; /*If we dont use this,our z-index property wont work*/
    /* ADding padding for our title and subtitle looking */
    
    
}

.card:hover > .card-content{
    background-position: -10% 0%;
}

.card-title,.card-subtitle{
    color: white;
    font-weight: 400;
    margin: 0;
    font-family: 'Anek Latin',sans-serif;
}

.card-title{
    font-size: 5vmin;
    padding: 1rem;
}

.card-subtitle{
    padding: 1rem;

    font-size: 3vmin;
    margin-top: 2vmin;
}